
@{
    ViewData["Title"] = "adminPanel";
}
@{
    if (TempData["msg2"] != null)
    {
        <script>
               alert('@TempData["msg2"]')
        </script>
    }
}
<!-- Template Main CSS File -->

<link href="assets/css/pagePrivacy.css" rel="stylesheet">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a asp-area="" asp-controller="Home" asp-action="Index">DEUCeng Dragon</a></h1>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="book-a-table-btn scrollto d-none d-lg-flex">Home</a>

    </div>
</header><!-- End Header -->

<div>
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Admin Login</h2>
                </div>
            </div>
        </section>
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>CUSTOMER</h2>
                    <p>Information</p>
                </div>

                <form action="passwordCheck" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                    <div class="form-group mt-3">
                        <div class="col-lg-4 col-md-6 form-group">
                            <input type="text" style="text-align: center;" name="username" class="form-control" id="name" placeholder="Your Username" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="col-lg-4 col-md-6 form-group">
                            <input type="password" style="text-align: center;" name="password" class="form-control" id="name" placeholder="Your Password" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div><button type="submit">Login</button></div>
                </form>
            </div>
        </section><!-- End Book A Table Section -->
    </main>
</div>
